/* This file is rendered using a template from a KubeInit role */
/* This file will be overriden each time the playbook runs */
/* No not edit directly */
/* More information at: https://github.com/kubeinit/kubeinit */

acl internals {
    127.0.0.0/8;
    {{ kubeinit_inventory_network_net }}/{{ kubeinit_inventory_network_cidr }};
};

view "internal" {
    match-clients { internals; };

    include "/etc/bind/zones.rfc1918";
    include "/etc/bind/named.conf.default-zones";

    /*zone "." IN {*/
    /*    type hint;*/
    /*    file "named.ca";*/
    /*};*/

    zone "{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}" {
        type master;
        file "/etc/bind/kubeinit/zones/internals/db.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}"; # zone file path
    };

    zone "{{ kubeinit_external_service_address | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}" {
        type master;
        file "/etc/bind/kubeinit/zones/internals/db.{{ kubeinit_external_service_address | ipsubnet(24) | ipaddr('network') }}";  # 192.168.1.0/24 subnet
    };

{% if kubeinit_libvirt_multicluster_dns_forward_enabled and kubeinit_inventory_cluster_distro == "okd" %}
    zone "{{ lookup('ini', 'kubeinit_inventory_cluster_name section=all:vars file='+kubeinit_libvirt_multicluster_rke_inventory) }}.{{ lookup('ini', 'kubeinit_inventory_cluster_domain section=all:vars file='+kubeinit_libvirt_multicluster_rke_inventory) }}" IN {
        type forward;
        forward only;
        forwarders {
            {{ lookup('ini', 'kubeinit_inventory_cluster_dns_server section=all:vars file='+kubeinit_libvirt_multicluster_rke_inventory) }};
        };
    };
{% elif kubeinit_libvirt_multicluster_dns_forward_enabled and kubeinit_inventory_cluster_distro == "rke" %}
    zone "{{ lookup('ini', 'kubeinit_inventory_cluster_name section=all:vars file='+kubeinit_libvirt_multicluster_okd_inventory) }}.{{ lookup('ini', 'kubeinit_inventory_cluster_domain section=all:vars file='+kubeinit_libvirt_multicluster_okd_inventory) }}" IN {
        type forward;
        forwarders {
            {{ lookup('ini', 'kubeinit_inventory_cluster_dns_server section=all:vars file='+kubeinit_libvirt_multicluster_okd_inventory) }};
        };
    };
{% endif %}

};

acl bridge {
    172.16.0.0/24;
};

view "bridge" {
    match-clients { bridge; };
    allow-query { any; };

    zone "{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}" {
        type master;
        file "/etc/bind/kubeinit/zones/internals/db.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}"; # zone file path
    };

};

{% if kubeinit_libvirt_external_service_interface_enabled | default(false) %}

view "external" {
    match-clients { any; };
    allow-query { any; };

    zone "{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}" {
        type master;
        file "/etc/bind/kubeinit/zones/externals/db.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}"; # zone file path
    };

};

{% endif %}
